// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Custom common variables
@import 'app-variables';

// Customize any of the theme’s variables here, for instance $btn-color: red;
// https://github.com/NativeScript/theme/blob/master/app/scss/_variables.scss

// Import the theme’s main ruleset.
@import url('~/platform.css');
@import '~nativescript-theme-core/scss/index';
// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

/*fonticon*/
.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

//Action bar
.action-item,
NavigationButton {
    color: $ab-color;

}

Slider{
  background-color: $accent;
  color: $accent;  
}

.action-bar, .action-bar-title {
    font-family: "Comfortaa";
}

Label {
    font-family: "Comfortaa";
}

.text {
    color: $blue-dark;
}

.text-primary {
    color: $accent-dark;
}

.text-secondary {
    color: $blue-50;
}

.list-group {

    label {
        font-size: 14;
        padding: 5;
    }
}

.product-card {
    background-color: white;
    border-radius: 2;
    padding-top: 5;
    padding-bottom: 5;
    margin: 5;
}

/*side drawer*/
/*nav*/
.nav-label {
    font-size: 20;
    color: $blue-dark;
    font-weight: bold;
    padding: 20;
}

.nav-layout{
    text-align: left;
}

.hr{
    height:1;
    background-color:$blue-dark;
    width:100%
}

.white {
    background-color: white;
}