<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" [text]="product.name" horizontalAlignment="center"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="page">
        <Image [src]="product.imageSource" class="m-b-15"></Image>

        <GridLayout rows="*" columns="*,2*">
            <Label text="Price" class="p-l-15 p-b-10 text-secondary"></Label>
            <Label col="1" class="text p-b-10">
                <FormattedString>
                    <Span text="$"></Span>
                    <Span [text]="product.price"></Span>
                </FormattedString>
            </Label>
        </GridLayout>

        <StackLayout class="m-y-10">
            <Label [text]="product.description" class="p-l-15" textWrap="true"></Label>
        </StackLayout>

        <GridLayout>
            <Button class="btn btn-outline" [text]="isLoading ? '' : 'Add to Cart'" (tap)="addToCart()"></Button>
            <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
        </GridLayout>

        <Label class="p-l-15 p-b-10 h2" text="Reviews" textDecoration="underline"></Label>
        <RadCartesianChart height="300">
            <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        
            <BarSeries tkCartesianSeries [items]="reviews" categoryProperty="Rating" valueProperty="Amount"></BarSeries>
            <RadCartesianChartGrid tkCartesianGrid></RadCartesianChartGrid>
        </RadCartesianChart>
    </StackLayout>
</ScrollView>