<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" [text]="product.name" horizontalAlignment="center"></Label>
</ActionBar>

<GridLayout rows="auto, auto, auto, auto" class="page">
    <Image [src]="product.imageSource" class="m-b-15"></Image>

    <GridLayout row="1" rows="*" columns="*,2*">
        <Label text="Price" class="p-l-15 p-b-10 text-secondary"></Label>
        <Label col="1" class="text p-b-10">
            <FormattedString>
                <Span text="$"></Span>
                <Span [text]="product.price"></Span>
            </FormattedString>
        </Label>
    </GridLayout>

    <StackLayout row="2" class="m-y-10">
        <Label [text]="product.description" class="p-l-15"></Label>
    </StackLayout>

    <StackLayout row="3">
        <Button class="btn btn-outline" text="Add to Cart" (tap)="addToCart()"></Button>
    </StackLayout>
</GridLayout>