<ActionBar class="action-bar">
    <ActionItem ios.position="right" [text]="'fa-shopping-cart' | fonticon" (tap)="onCartTap()" class="fa"></ActionItem>
    <Label class="action-bar-title" text="Products" horizontalAlignment="center"></Label>
</ActionBar>

<GridLayout class="page">
    <RadListView [items]="products" (itemTap)="onProductItemTap($event)" class="list-group" (itemLoading)="changeBackground($event)">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" itemHeight="200" spanCount="2"></ListViewGridLayout>
        <ng-template tkListItemTemplate let-product="item">
            <StackLayout class="product-card">
                <Image [src]="product.imageSource" height="154"></Image>
                <StackLayout row="1" colSpan="2" class="hr-light m-t-5 m-b-5"></StackLayout>
                <GridLayout rows="20, 15" columns="3*, auto">
                    <Label col="0" row="0" [text]="product.name" class="text-primary"></Label>
                    <Label col="1" row="0" horizontalAlignment="left" class="list-group-item-text m-r-5">
                            <FormattedString>
                                <Span text="$"></Span>
                                <Span [text]="product.price"></Span>
                            </FormattedString>
                        </Label>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>